@use "../../../assets/scss/abstracts/mixins" as *;

.stats{

padding: 20px 0;

background:#ffffff;

}

.stats__grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stats__card{

    @include glass;
    @include card-primary;
    @include card-hover;
    @include card-padding;
    text-align: center;
    transition:.35s;

}

.stats__card:hover{

transform:translateY(-10px);

box-shadow:0 25px 60px rgba(0,0,0,.08);

}

.stats__card h2{

font-size:3rem;

font-weight:800;

color:var(--color-primary);

margin-bottom:12px;

}

.stats__card h3 {

  font-size: 3rem;

  font-weight: 800;

  color: var(--color-primary);

}

.stats__card p{

  margin-top: 10px;
  color: var(--color-text-light);

}

@media(max-width:992px){

.stats__grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.stats__grid{

grid-template-columns:1fr;

}

}