.home-page {
  position: relative;
  width: 100%;
  max-width: 100vw;
  background: #ffffff;
  overflow-x: clip !important;

  > section {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e8f0;

    &:last-of-type {
      border-bottom: none;
    }
  }
}